apiVersion: v1
kind: Secret
metadata:
  name: keystone-kubecfg
  namespace: os-keystone
type: Opaque
data:
  kube-endpoint: {{ KUBE_ENDPOINT }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-user-ipa
  namespace: os-keystone
type: Opaque
data:
  ipa-user-admin-user: {{ AUTH_FREEIPA_USER_ADMIN_USER }}
  ipa-user-admin-password: {{ AUTH_FREEIPA_USER_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-host-ipa
  namespace: os-keystone
type: Opaque
data:
  ipa-host-admin-user: {{ AUTH_FREEIPA_HOST_ADMIN_USER }}
  ipa-host-admin-password: {{ AUTH_FREEIPA_HOST_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-db-root
  namespace: os-keystone
type: Opaque
data:
  mariadb-root-password: {{ AUTH_KEYSTONE_DB_ROOT_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-db
  namespace: os-keystone
type: Opaque
data:
  mariadb-test-database: {{ AUTH_KEYSTONE_MARIADB_DATABASE }}
  mariadb-test-user: {{ AUTH_KEYSTONE_MARIADB_USER }}
  mariadb-test-password: {{ AUTH_KEYSTONE_MARIADB_PASSWORD }}
  keystone-db-name: {{ AUTH_KEYSTONE_DB_NAME }}
  keystone-db-user: {{ AUTH_KEYSTONE_DB_USER }}
  keystone-db-password: {{ AUTH_KEYSTONE_DB_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-ldap
  namespace: os-keystone
type: Opaque
data:
  keystone-ldap-user: {{ AUTH_KEYSTONE_LDAP_USER }}
  keystone-ldap-password: {{ AUTH_KEYSTONE_LDAP_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-user
  namespace: os-keystone
type: Opaque
data:
  keystone-admin-token: {{ AUTH_KEYSTONE_ADMIN_TOKEN }}
  keystone-admin-user: {{ AUTH_KEYSTONE_ADMIN_USER }}
  keystone-admin-project: {{ AUTH_KEYSTONE_ADMIN_PROJECT }}
  keystone-admin-password: {{ AUTH_KEYSTONE_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-admin-user
  namespace: os-neutron
type: Opaque
data:
  keystone-admin-user: {{ AUTH_KEYSTONE_ADMIN_USER }}
  keystone-admin-project: {{ AUTH_KEYSTONE_ADMIN_PROJECT }}
  keystone-admin-password: {{ AUTH_KEYSTONE_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-admin-user
  namespace: os-glance
type: Opaque
data:
  keystone-admin-user: {{ AUTH_KEYSTONE_ADMIN_USER }}
  keystone-admin-project: {{ AUTH_KEYSTONE_ADMIN_PROJECT }}
  keystone-admin-password: {{ AUTH_KEYSTONE_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-admin-user
  namespace: os-cinder
type: Opaque
data:
  keystone-admin-user: {{ AUTH_KEYSTONE_ADMIN_USER }}
  keystone-admin-project: {{ AUTH_KEYSTONE_ADMIN_PROJECT }}
  keystone-admin-password: {{ AUTH_KEYSTONE_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-admin-user
  namespace: os-nova
type: Opaque
data:
  keystone-admin-user: {{ AUTH_KEYSTONE_ADMIN_USER }}
  keystone-admin-project: {{ AUTH_KEYSTONE_ADMIN_PROJECT }}
  keystone-admin-password: {{ AUTH_KEYSTONE_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-admin-user
  namespace: os-heat
type: Opaque
data:
  keystone-admin-user: {{ AUTH_KEYSTONE_ADMIN_USER }}
  keystone-admin-project: {{ AUTH_KEYSTONE_ADMIN_PROJECT }}
  keystone-admin-password: {{ AUTH_KEYSTONE_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: keystone-admin-user
  namespace: os-murano
type: Opaque
data:
  keystone-admin-user: {{ AUTH_KEYSTONE_ADMIN_USER }}
  keystone-admin-project: {{ AUTH_KEYSTONE_ADMIN_PROJECT }}
  keystone-admin-password: {{ AUTH_KEYSTONE_ADMIN_PASSWORD }}
