[Unit]
Description=Harbor Keystone
After=harbor-kubernetes.service
After=harbor-loadbalancer.service
After=harbor-ovn.service
After=harbor-memcached.service
After=harbor-messaging.service
After=harbor-ipsilon.service


[Service]
Type=simple
Restart=always
RestartSec=20
TimeoutSec=0
ExecStartPre=/usr/bin/harbor-service start keystone
ExecStart=/usr/bin/harbor-service check keystone
ExecStop=/usr/bin/harbor-service stop keystone
RemainAfterExit=true

[Install]
WantedBy=container-up.target
