[Unit]
Description=Harbor Glance
After=harbor-auth.service
After=harbor-kubernetes.service
After=harbor-etcd.service
After=harbor-loadbalancer.service
After=harbor-ovn.service
After=harbor-memcached.service
After=harbor-messaging.service
After=harbor-ipsilon.service
After=harbor-keystone.service
After=harbor-api.service
After=harbor-neutron.service


[Service]
Type=simple
Restart=always
RestartSec=20
TimeoutSec=0
ExecStartPre=/usr/bin/harbor-service start glance
ExecStart=/usr/bin/harbor-service check glance
ExecStop=/usr/bin/harbor-service stop glance
RemainAfterExit=true

[Install]
WantedBy=container-up.target
