[Unit]
Description=Upgrade IPA server
Requires=ipa.service
After=ipa.service
After=container-configure-first.service

[Service]
Restart=always
RestartSec=20
Type=simple
ExecStart=/usr/sbin/ipa-server-upgrade-data
RemainAfterExit=yes
StandardOutput=tty
TimeoutSec=0

[Install]
WantedBy=container-up.target
