[Unit]
Description=Upgrade IPA server
After=container-configure-first.service

[Service]
Restart=always
RestartSec=20
Type=simple
ExecStartPre=/usr/sbin/ipa-server-upgrade-data
ExecStart=/usr/bin/true
RemainAfterExit=yes
StandardOutput=tty
TimeoutSec=0

[Install]
WantedBy=container-up.target
