[Unit]
Description=Identity, Policy, Audit
Requires=network.target
After=network.target

[Service]
Restart=always
RestartSec=20
Type=simple
ExecStartPre=/usr/sbin/ipactl restart
ExecStart=/usr/bin/true
ExecStop=/usr/sbin/ipactl stop
StandardOutput=tty
RemainAfterExit=yes
TimeoutSec=0

[Install]
WantedBy=container-up.target
