apiVersion: v1
kind: Secret
metadata:
  name: messaging-kubecfg
  namespace: os-messaging
type: Opaque
data:
  kube-endpoint: {{ KUBE_ENDPOINT }}
---
apiVersion: v1
kind: Secret
metadata:
  name: messaging-user-ipa
  namespace: os-messaging
type: Opaque
data:
  ipa-user-admin-user: {{ AUTH_FREEIPA_USER_ADMIN_USER }}
  ipa-user-admin-password: {{ AUTH_FREEIPA_USER_ADMIN_PASSWORD }}
---
apiVersion: v1
kind: Secret
metadata:
  name: messaging-host-ipa
  namespace: os-messaging
type: Opaque
data:
  ipa-host-admin-user: {{ AUTH_FREEIPA_HOST_ADMIN_USER }}
  ipa-host-admin-password: {{ AUTH_FREEIPA_HOST_ADMIN_PASSWORD }}
---
# Additional secrets required by this namespace:
# memcached-ssl-secret - from marina service manager
# memcached-user-ssl-secret - from marina service manager
# memcached-db-ssl-secret - from marina service manager
apiVersion: v1
kind: Secret
metadata:
  name: messaging-auth
  namespace: os-messaging
type: Opaque
data:
  auth-messaging-user: {{ AUTH_MESSAGING_USER }}
  auth-messaging-pass: {{ AUTH_MESSAGING_PASS }}
---
apiVersion: v1
kind: Secret
metadata:
  name: messaging-auth
  namespace: os-glance
type: Opaque
data:
  auth-messaging-user: {{ AUTH_MESSAGING_USER }}
  auth-messaging-pass: {{ AUTH_MESSAGING_PASS }}
---
apiVersion: v1
kind: Secret
metadata:
  name: messaging-auth
  namespace: os-cinder
type: Opaque
data:
  auth-messaging-user: {{ AUTH_MESSAGING_USER }}
  auth-messaging-pass: {{ AUTH_MESSAGING_PASS }}
---
apiVersion: v1
kind: Secret
metadata:
  name: messaging-auth
  namespace: os-neutron
type: Opaque
data:
  auth-messaging-user: {{ AUTH_MESSAGING_USER }}
  auth-messaging-pass: {{ AUTH_MESSAGING_PASS }}
---
apiVersion: v1
kind: Secret
metadata:
  name: messaging-auth
  namespace: os-nova
type: Opaque
data:
  auth-messaging-user: {{ AUTH_MESSAGING_USER }}
  auth-messaging-pass: {{ AUTH_MESSAGING_PASS }}
---
apiVersion: v1
kind: Secret
metadata:
  name: messaging-auth
  namespace: os-heat
type: Opaque
data:
  auth-messaging-user: {{ AUTH_MESSAGING_USER }}
  auth-messaging-pass: {{ AUTH_MESSAGING_PASS }}
