[
  {rabbit, [
     {loopback_users, []},
     {tcp_listeners, []},
     {ssl_listeners, [{"@RABBIT_NODE_IP_ADDRESS@",@RABBIT_PORT@}]},
     {ssl_options, [{cacertfile,"@RABBITMQ_TLS_CA@"},
                    {certfile,"@RABBITMQ_TLS_CERT@"},
                    {keyfile,"@RABBITMQ_TLS_KEY@"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}]},
    {default_user, <<"@RABBIT_USER@">>},
    {default_pass, <<"@RABBIT_PASS@">>}
  ]},
  {kernel, [

  ]}
].
% EOF
