[Unit]
Description=Docker Application Container Engine
Documentation=https://port.direct
After=network.target

[Service]
Type=notify
# set mountflags to shared to that containers can be used to mount filesystems on the host
MountFlags=shared
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity



# Load all kernel modules required
ExecStartPre=-/sbin/modprobe libcrc32c
ExecStartPre=-/sbin/modprobe nf_conntrack_ipv6
ExecStartPre=-/sbin/modprobe nf_nat_ipv6
ExecStartPre=-/sbin/modprobe gre
ExecStartPre=-/sbin/modprobe openvswitch
ExecStartPre=-/sbin/modprobe vxlan
ExecStartPre=-/sbin/modprobe vport_geneve
ExecStartPre=-/sbin/modprobe vport_vxlan

ExecStartPre=-/sbin/modprobe ip_tables
ExecStartPre=-/sbin/modprobe ip6_tables

ExecStartPre=-/sbin/modprobe overlay
ExecStartPre=-/sbin/modprobe dm_thin_pool
ExecStartPre=-/sbin/modprobe dm_multipath
ExecStartPre=-/sbin/modprobe dm_snapshot

# Run the docker daemon prep script
ExecStart=/usr/bin/docker-daemon
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
