apiVersion: v1
kind: Service
metadata:
  labels:
    openstack-app: ipsilon-api
  name: ipsilon
  namespace: os-ipsilon
spec:
  clusterIP: None
  sessionAffinity: ClientIP
  ports:
  - port: 4143
    targetPort: 4143
    protocol: TCP
    name: https
  selector:
    openstack-app: ipsilon-api
---
apiVersion: v1
kind: Service
metadata:
  labels:
    openstack-app: ipsilon-db
  name: ipsilon-db
  namespace: os-ipsilon
spec:
  clusterIP: None
  sessionAffinity: ClientIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: psql
  selector:
    openstack-app: ipsilon-db
